<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
</head>
    <body>
        <div th:fragment="projects">
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Enhancing E-Learning  System with Instructor Insights</h2><h4>- Java, MySQL, JSP, Servlet</h4>
                                            <br>
                                            <p>Developed an E-Learning web application using java, JSP, and servlets to track student performance and engagement.</p>
                                            <p>Designed and managed MySQL database for users and course data.</p>
                                            <p>Implemented instructor insights for tracking student performance.</p>
                                            <p>Deployed the application on GlassFish server.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Doctor Appointment Booking System</h2><h4>- PHP, MySQL, XAMPP, Apache</h4>
                                            <br>
                                            <p>Developed a web-based Doctor Appointment Booking System for online appointment scheduling.</p>
                                            <p>Implemented CRUD operations for doctors, patients, and appointment management.</p>
                                            <p>Designed and maintained MYSQL database using optimized SQL queries.</p>
                                            <p>Improved system usability with structured frontend and backend integration.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <h4 class="display-4 fw-bolder mb-4">Contact me</h4>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
